
$blue: #3483fa
$dark-grey: #333
$dark-grey-two: #666
$grey: #999
$light-grey: #eee
$scenes_width: 80%

.produc-detail
    width: $scenes_width
    display: grid,
    grid-template-columns: 1fr 1fr
    gap: 32px 32px
    background-color: white
    margin: auto
    padding: 32px
    box-sizing: border-box  
    .produc-detail-image
        width: 680px
    .produc-detail__state
        font-size: 14px
        margin: 32px 0 16px
        color: $dark-grey-two
    .product-detail__title
        font-size: 24px
        margin: 16px 0 32px
        color: $dark-grey
    .product-detail__price
        font-size: 46px
        margin: 32px 0
        color: $dark-grey
    .product-detail__btn
        background-color: $blue
        width: -webkit-fill-available
        margin-right: 32px
        height: 40px
        color: white
        border: none
        border-radius: 4px
        font-size: 18px
    .product-detail__description__title
        font-size: 28px
        margin: 32px 0
        color: $dark-grey-two
    .product-detail__description__text
        font-size: 16px
        color: $grey
        white-space: pre-wrap
